 <% provide(:title, @entry.title) %>
  <div class="row">
 	<aside class="col-md-4">
 	<section class="user_info">
      <h1>
        <%= gravatar_for @entry.user %>
        <%= @entry.user.name %>
      </h1>
    </section>
      <%= render 'shared/comment_form' %>

    </aside>
  <div class="col-md-8">
    
      <h3>Comments (<%= @entry.comments.count %>)</h3>
      <% if @entry.comments.any? %>
      <%= will_paginate @comments %>
      <ol class="comments">
        <%= render @entry.comments %>
      </ol>
      <%= will_paginate @comments %>
      <% end %>
  </div>
</div>