<%= form_for(@entry) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <div><%= f.hidden_field :entry_id, :value => @entry.id %></div>
    <%= f.text_field :title, placeholder: "Entry title" %>
    <%= f.text_area :body, placeholder: "Compose new entry..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>